@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

          <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                   @* <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    <a class="navbar-brand" href="http://localhost"><img class="logo" src="~/logo-white.png" alt="SCIEX" /></a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse" style="float: right;margin-top: 18px;font-size: 17px;">
                    Powered by SCIEX Cloud
                </div>
             </div>
          </div>

     @*   <a href="~/" class="navbar-brand">
            <img src="~/logo.png" class="icon-banner">
            Sciex OS
        </a>*@

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
              </li>
            </ul>
        }
    
    </nav>
</div>
