@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="display-4">
        <h1>You are now being returned to the application</h1>
        <h1>Once complete, you may close this tab.</h1>
    </div>
</div>
